.navbar-section{
    background-color: #94999b;
    overflow: hidden;
   /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.navbar-section a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}


.navbar-section a:hover{
    background-color: #7f7e7d;
    color: black;
    border-bottom: 1px solid #ffffff
}

.logo{
    float: left;
}