<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>cours</title>

    <style>
        .big-title-section{
            text-align: center;
           
        }

        .h1{
            font-size: 4.6em;
            font-weight: bold;
        }
        .cour{
            text-align: center;
            margin-top: 100px;
            margin-bottom: 200px; 
            height: 300px;
        }

        .cour-image{
            margin: auto;
            height: 300px;
            width: 300px;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid #548ea5;
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>
</head>
<body>
    <div class="container-fluid">   
        <div class="big-title-section">
            <p class="h1"> les cours disponibles : </p>
        </div>

        <div class="cours-section">
            <!-- first course -->
            <div class="cour">
                <div class="cour-image">
                    <img src="images/web.jpg" alt="">
                </div>
                <div class="cour-title">
                    <p>cour 1 : </p> 
                </div>
                <div class="cour-description">
                    <p>this descprition is for cours 1 .</p>
                </div>
                <div class="cour-link">
                    <a href="/cours/1">click here to get the book</a>
                </div>
            </div>
            <!-- second course -->
            <div class="cour">
                <div class="cour-image">
                    <img src="images/phisque.png" alt="">
                </div>
                <div class="cour-title">
                    <p>cour 2 : </p> 
                </div>
                <div class="cour-description">
                    <p>this descprition is for cours 2 .</p>
                </div>
                <div class="cour-link">
                    <a href="/cours/2">click here to get the book</a>
                </div>
            </div>
            <!-- third course -->
            <div class="cour">
                <div class="cour-image">
                    <img src="images/math.jpg" alt="">
                </div>
                <div class="cour-title">
                    <p>cour 3 : </p> 
                </div>
                <div class="cour-description">
                    <p>this descprition is for cours 3 .</p>
                </div>
                <div class="cour-link">
                    <a href="/cours/3">click here to get the book</a>
                </div>
            </div>
        
        </div>
    </div>
</body>
</html>