<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    
    <link rel="stylesheet" href="../css/cours.css">
    <title>cours1</title>
</head>
<body>
    <div class="container-fluid">
        <div class="big-title">
            <p>cours 1 :</p>
        </div>
        <div class="cour-image">
            <img src="../images/web.jpg" alt="">
        </div>
        <div class="cour-title">
            <p>cour 1 : </p> 
        </div>
        <div class="cour-description">
            <p>this descprition is for cours 1 .</p>
        </div>
    </div>
</body>
</html>